* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-primary);
}

body {
	background-color: var(--color-secondary);
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
	color: var(--color-primary);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 5rem;
	padding: 0rem 5rem;
	/* background-color: var(--color-accent-1); */
}

.header-logo-container {
	display: flex;
	justify-content: flex-start;
	flex-basis: 25%;
	/* visibility: hidden; */
}

.header-logo {
	color: var(--color-accent-1);
	font-size: var(--font-size-extra-large);
	text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

.header-page-nav {
	flex-basis: 50%;
}

.header-page-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* background-color: var(--color-accent-1); */
	padding: 0.4rem;
	border-radius: var(--border-radius);
}

.header-page-nav ul li {
	list-style-type: none;
}

.home-nav,
.movies-nav,
.favorites-nav,
.profile-nav {
	color: var(--color-primary);
	font-size: var(--font-size-medium);
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.home-nav:hover,
.movies-nav:hover,
.favorites-nav:hover,
.profile-nav:hover {
	color: var(--color-accent-2);
}

.nav-button-active {
	color: var(--color-accent-1);
}

.sign-out-button-container{
	display: flex;
	flex-basis: 25%;
	justify-content: flex-end;
}

.sign-out-button {
	visibility: hidden;
	color: var(--color-accent-1);
	font-size: var(--font-size-base);
	border: 1px solid var(--color-accent-1);
	border-radius: var(--border-radius);
	padding: 0.3rem;
}

/* SIGN-UP/IN FORM ----------------------------------*/

.form-section {
	display: none;
}

.form-section-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 85vh;
}

.all-forms-container {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.change-form-buttons {
	display: flex;
	height: 4rem;
	align-items: center;
}

.change-form-buttons button {
	border: none;
	flex-basis: 50%;
	width: 100%;
	height: 100%;
}

.signin-form_button {
	background-color: var(--color-accent-1);
	color: var(--color-secondary);
	border-radius: var(--border-radius) 0 0 0;
	font-size: var(--font-size-medium);
}

.signup-form_button {
	background-color: var(--color-accent-2);
	color: var(--color-secondary);
	border-radius: 0 var(--border-radius) 0 0;
	font-size: var(--font-size-medium);
}

.signin-form_visibility {
	display: block;
	height: 400px;
}

.signup-form_visibility {
	display: none;
	height: 400px;
}

.sign-in-form,
.sign-up-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1.4rem;
	height: 100%;
	padding: 2rem 3.5rem;
	background-color: var(--color-accent-1);
	color: var(--color-accent-1);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.input-div-container {
	display: flex;
	justify-content: center;
	flex-basis: 80%;
}

.sign-in-form div,
.sign-up-form div,
.sign-up-form select {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sign-in-form div div,
.sign-up-form div div,
.sign-up-form div select {
	flex-direction: row;
	justify-content: space-between;
}

.sign-in-button_container,
.sign-up-button_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 20%;
}

.sign-in-button_submit,
.sign-up-button_submit {
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);
	border: none;
	color: var(--color-primary);
	padding: 0.5rem 1rem;
	font-size: var(--font-size-small);
}

.sign-in-button_submit:hover,
.sign-up-button_submit:hover {
	background-color: var(--color-accent-2);
	border: 0.2rem solid var(--color-secondary);
	padding: 0.3rem 0.8rem;
}

label {
	color: var(--color-secondary);
}

input,
#genre {
	width: 60%;
	height: 1.5rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-secondary);
	padding: 0 0.5rem;
	color: var(--color-secondary);
}

/* MAIN CONTENT HOMEPAGE --------------------------------- */
.main-content {
	display: none;
	width: 100%;
	height: 100vh;
	font-size: var(--font-size-extra-large);
	margin-top: 2rem;
}

.render-username {
	display: flex;
	flex-basis: 20%;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.frontpage-api-container {
	display: flex;
	flex-direction: column;
	flex-basis: 80%;
	width: 100%;
}

.frontpage-api-container h4 {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 1.5rem;
	font-size: 24px;
}

.all-movies-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 2rem;
	padding: 5rem;
}

.each-movie-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-accent-1);
	border: 1rem solid var(--color-accent-1);
	border-radius: var(--border-radius);
	box-shadow: 10px 10px 10px var(--color-accent-3);
	cursor: pointer;
}

.each-movie-container-hover {
	display: flex;
	width: 48.5%;
	flex-direction: row;
	align-items: flex-start;
}

.movie-info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	margin-left: 1rem;
	padding: 1rem;
	line-height: var(--line-height);
	font-size: var(--font-size-base);
	background: var(--color-accent-2);
	border-radius: var(--border-radius);
	box-shadow: 3px 3px 5px var(--color-accent-3);
}

.all-movies-container img {
	width: 200px;
	border-radius: var(--border-radius);
	box-shadow: 3px 3px 5px var(--color-accent-3);
}
/* MOVIESPAGE ----------------------------------------------------------- */

.find-movie-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 2rem;
	padding: 0rem 5rem;
}

.find-movie-info-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: var(--line-height);
}

.filters-container {
	margin-top: 2rem;
}

.all-filter-buttons {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	width: 100%;
	gap: 1.5rem;
}

.all-filter-buttons button {
	color: var(--color-accent-1);
	font-size: var(--font-size-base);
	border: 1px solid var(--color-accent-1);
	border-radius: var(--border-radius);
	padding: 0.3rem;
	width: 120px;
}

.sort-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	gap: 1rem;
	margin-top: 2rem;
}

#categories {
	border-radius: var(--border-radius);
	width: 200px;
	height: 1.5rem;
	color: var(--color-secondary);
	border: none;
	padding: 0 0.5rem;
}

.moviespage-movies-section {
	display: flex;
	width: 100%;
}

.moviespage-movies-container {

}