* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-primary);
}

body {
	background-color: var(--color-secondary);
}

button {
	cursor: pointer;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 4rem;
	padding: 0rem 2rem;
}

.header-logo {
	color: var(--color-primary);
	font-size: var(--font-size-small);
}

.header-page-button {
	display: flex;
	justify-content: space-between;
	width: 50%;
	background-color: var(--color-accent-1);
	padding: 0.5rem 2rem;
	border-radius: var(--border-radius);
}

.header-page-button button {
	background-color: transparent;
	border: none;
	color: var(--color-accent-3);
	font-size: var(--font-size-small);
}

.sign-out-button {
	visibility: hidden;
	background-color: transparent;
	border: none;
	color: var(--primary-color);
	font-size: var(--font-size-small);
}

/* SIGN-UP/IN FORM ----------------------------------*/

.form-section {
	display: block;
}

.form-section-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 85vh;
}

.all-forms-container {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.change-form-buttons {
	display: flex;
	height: 4rem;
	align-items: center;
}

.change-form-buttons button {
	border: none;
	flex-basis: 50%;
	width: 100%;
	height: 100%;
}

.signin-form_button {
	background-color: var(--color-accent-1);
	color: var(--color-secondary);
	border-radius: var(--border-radius) 0 0 0;
}

.signup-form_button {
	background-color: var(--color-accent-2);
	color: var(--color-primary);
	border-radius: 0 var(--border-radius) 0 0;
}

.signin-form_visibility {
	display: block;
	height: 300px;
}

.signup-form_visibility {
	display: none;
	height: 300px;
}

.sign-in-form,
.sign-up-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
	height: 100%;
	padding: 2rem 5rem;
	background-color: var(--color-accent-1);
	color: var(--color-accent-3);
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.sign-in-form div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sign-up-form div,
.sign-up-form select {
	display: flex;

	align-items: center;
	justify-content: space-between;
}

.sign-in-button_container,
.sign-up-button_container {
	margin: 0 auto;
}

.sign-in-button_submit,
.sign-up-button_submit {
	background-color: transparent;
	border: none;
	color: var(--color-accent-3);
}

label {
	color: var(--color-secondary);
}

/* MAIN CONTENT HOMEPAGE --------------------------------- */
.main-content {
	display: none;
	width: 100%;
	height: 100vh;
	font-size: var(--font-size-extra-large);
}

.render-username {
	display: flex;
	align-items: center;
	justify-content: center;
}